{% extends "index.html" %}
{% block graphs %}
    <!--Load the AJAX API-->
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">// Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages': ['corechart']});
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(function () {
        drawChart('Languages', 'Usage', {{ language_data | safe }}, 'Most used languages on your Twitter timeline: All Tweets', 'chart_div');
    });
    google.setOnLoadCallback(function () {
        drawChart('Countries', 'Usage', {{ countries_data | safe }}, 'Places marked on your timeline', 'country_chart_div');
    });
    google.setOnLoadCallback(function () {
        drawBarChart('Hashtags', 'Usage', {{ hashtags_data| safe }}, 'Most popular hashtags', 'hashtag_chart_div');
    });
    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart(col1, col2, data_thing, title, div_name) {
        // Create the data table.
        var data = new google.visualization.DataTable();

        data.addColumn('string', col1);
        data.addColumn('number', col2);
        data.addColumn({type: 'number', role: 'tooltip'});
        data.addRows(data_thing);
        // Set chart options
        var options = {
            'title': title,
            'width': 500,
            'height': 500,
            sliceVisibilityThreshold: .01,
            is3D: true
        };
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById(div_name));
        {#        console.log(data);#}
        chart.draw(data, options);
    }

    function drawBarChart(col1, col2, data_thing, title, div_name) {
        // Create the data table.
        var data = new google.visualization.DataTable();

        data.addColumn('string', col1);
        data.addColumn('number', col2);
{#        data.addColumn({type: 'number', role: 'tooltip'});#}
        data.addRows(data_thing);
        // Set chart options
        var options = {
            'title': title,
            'width': 600,
            'height': 500,
            sliceVisibilityThreshold: .01,
            is3D: true
        };
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById(div_name));
        {#        console.log(data);#}
        chart.draw(data, options);
    }
    </script>
{% endblock %}
{% block div %}
    <b>Most used languages on Twitter: All Tweets</b>
    <div id="chart_div"></div>
    {#    <div id="chart_div2"></div>#}
{% endblock %}
{% block country_div %}
    <b>Places from your timeline</b>
    <div id="country_chart_div"></div>
    {#    <div id="chart_div2"></div>#}
{% endblock %}
{% block hashtag_div %}
    <b>Most popular hashtags</b>
    <div id="hashtag_chart_div"></div>
        <div id="chart_div2"></div>
{% endblock %}